<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servers>
        <server>
            <username>admin</username>
            <password>AKCp8ihf4EY3AMRRcK8Xmhs5GPyBPMnHhmasCLx9njZq8QUxK2omYMdDVne5LGpjbxjNfCYpN</password>
            <id>central</id>
        </server>
        <server>
            <username>admin</username>
            <password>AKCp8ihf4EY3AMRRcK8Xmhs5GPyBPMnHhmasCLx9njZq8QUxK2omYMdDVne5LGpjbxjNfCYpN</password>
            <id>snapshots</id>
        </server>
    </servers>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>maven-repo</name>
                    <url>http://home:8081/artifactory/maven-repo</url>
                </repository>
                <repository>
                    <snapshots />
                    <id>snapshots</id>
                    <name>maven-repo</name>
                    <url>http://home:8081/artifactory/maven-repo</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>maven-repo</name>
                    <url>http://home:8081/artifactory/maven-repo</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots />
                    <id>snapshots</id>
                    <name>maven-repo</name>
                    <url>http://home:8081/artifactory/maven-repo</url>
                </pluginRepository>
            </pluginRepositories>
            <id>artifactory</id>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
</settings>